<h2>Login Form</h2>
   <form [formGroup]="registrationForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="registrationForm.get('userName')?.invalid &&
      registrationForm.get('userName')?.touched" formControlName="userName" type="text" name="" class="form-control">
      <small [class.d-none]="registrationForm.get('userName')?.valid
      || registrationForm.get('userName')?.untouched" class="text-danger">Username is required</small>
  </div>
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" name="" class="form-control">
      <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        <small *ngIf="registrationForm.get('password')?.errors?.['required']" class="text-danger">
          Password is required
        </small>
        <small *ngIf="registrationForm.get('password')?.errors?.['minlength']" class="text-danger">
          Password must be at least 4 characters long
        </small>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Login</button>
   </form>
